* {

	margin: 0;

	padding: 0;

	border: 0;

  outline: 0;

  box-sizing: border-box;

}
body{
    background-color: blueviolet;
    text-transform: capitalize;
font-family:Arial, Helvetica, sans-serif;
}
.form-login{
    background-color: aliceblue;
    margin: auto;
    border: solid blue 5px;
    padding: 5rem 1rem;
    border-radius: 25px;
    width: 80%;
    gap: 2rem;
    max-width: 400px;
}
.singIn{
    font-size: 3rem;
    color: blueviolet;

}
p{
    color: blueviolet;
    margin-top: 1rem;
}
input{
    border-radius: 10px;
    border: solid blueviolet 2px;
    height: 3rem;
    margin-top: 2rem;
    width: 80%;
    color: blueviolet;
    font-size: larger;
}
.user{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
button{
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    padding: 2rem ;
    font-size: larger;
    text-transform: uppercase;
    margin: 2rem auto;
    width: 100%;
    cursor: pointer;
}