body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.calculator {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
}

.display {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px;
  border: none;
  background-color: #333;
  color: white;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  background-color: #666;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
.calc{
    background-color: red;
}
.operat{
    background-color: blueviolet;
}